<ion-header>
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="toShop()">
    <ion-fab-button>
      <ion-icon name="bag-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card style="text-align: center;">
    <img [src]="bike.bikeImageUrl" />
    <ion-card-header>
      <ion-card-title>{{ bike.bikeName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-chip>
        <ion-icon name="logo-euro" color="primary"></ion-icon>
        <ion-label>{{ bike.bikePrice }}</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-icon name="logo-electron" color="primary"></ion-icon>
        <ion-label>{{ bike.bikeType }}</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-icon name="barcode-outline" color="primary"></ion-icon>
        <ion-label>{{ bike.bikeCategory }}</ion-label>
      </ion-chip>
      <p style="text-align: justify;">
        {{ bike.bikeDescription }}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
