<p-card header="{{ client.clientName }}" [style]="{'width': '100%', 'margin-bottom': '2em'}">
  <ng-template pTemplate="header">
      <img alt="Card" [src]="client.clientImageUrl">
  </ng-template>
  <ng-template pTemplate="body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Email</th>
          <th>Puntos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ client.clientEmail }}</td>
          <td>
            <p-badge [value]="client.clientPoints > 20 ? 'Gold' : 'Beginner'" [severity]="client.clientPoints > 20 ? 'warning' : 'info'"></p-badge>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  
</p-card>